{% extends "_base.html" %}

{% set title = 'Manage Groups' %}
{% set page = 'groups' %}

{% block externalcss %}
{% endblock %}

{% block customcss %}
{% endblock %}

{% block content %}
<div class="callout callout-danger">
  <h5>Are groups required?</h5>
  <p>Groups put a significant load on the cloud environment since their VMs are retained between classes/labs. This option is generally only used for final projects. <b>If students are working together during lab periods, please have them share SSH keys instead!</b></p>
</div>

<div class="row">
  <div class="col-12">

    <div class="card">
      <div class="card-body">
        <table id="table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Student ID</th>
            <th>Email</th>
            <th>Group Number</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody id="tableBody"></tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-12">

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-user-plus mr-2"></i>Add Student to Group</h3>
      </div>
      <div class="card-body">
      
        <div class="row">

            <div class="col-5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user mr-2"></i> Banner ID</span>
                </div>
                <input type="number" class="form-control" id="formStudentId" placeholder="Student ID">
              </div>
            </div>

            <div class="col-5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-users mr-2"></i> Group Number</span>
                </div>
                <input type="number" class="form-control" id="formGroupId" placeholder="Group Number">
              </div>
            </div>

            <div class="col-2">
              <button type="button" id="buttonAdd" class="btn btn-block btn-primary">Add</button>
            </div>

          </div>

        </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-12">

    <div class="callout callout-warning">
      <h4>Group Upload Guide</h4>
          <p>Groups should be uploaded using the CSV upload utility below. CSVs should be an actual CSV file in the following format <b>with no spaces</b> between elements:</p>
          <i>Group,group_number,student_id_1,student_id_2,student_id_3,student_id_n</i><br><br>
          <p><strong>For example:</strong></p>
          Group,1,100111111,100222222,100333333,100444444<br>
          Group,2,100555555,100666666,100777777<br>
          <br>
          <strong>Note that students must already be registered in the course!</strong>
    </div>

  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-12">

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-upload mr-2"></i>Upload Group CSV</h3>
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-10">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="CSVInputFile">
              <label id="filename" class="custom-file-label" for="CSVInputFile">Choose file</label>
            </div>
          </div>
          <div class="col-2">
            <div class="input-group-append">
              <button type="button" id="buttonUpload" class="btn btn-block btn-primary disabled"><i class="nav-icon fas fa-upload mr-2 ml-2"></i></button>
            </div>
          </div>

        </div>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}

{% block externaljs %}
{% endblock %}

{% block customjs %}
<script>

  $(function () {

    getGroups();
    setTimeout(getGroups, 10000)

    $("#buttonAdd").click(function(){

      var sid = parseInt($("#formStudentId").val());
      var gid = parseInt($("#formGroupId").val());

      if(!sid || sid < 100000000 || sid > 100999999) {
        toastr.error("Invalid student ID!", "Error")
      }
      else if(!gid || gid < 1 || gid > 50) {
        toastr.error("Invalid group number!", "Error")
      }
      else {
        $("#formStudentId").val('')
        $("#formGroupId").val('')
        addToGroup(sid, gid)
      }
    });

    $("#buttonUpload").attr("disabled", true);

    const inputElement = document.getElementById("CSVInputFile");
    inputElement.addEventListener("change", handleFiles, false);

    function handleFiles() {

      var file = document.getElementById('CSVInputFile').files[0];

      if(file.type != 'text/csv') {
        toastr.error("Please upload a valid CSV file!", "Error")
        $("#buttonUpload").attr("disabled", true);
      }

      else {
        $("#filename").text(file.name);
        var reader = new FileReader();
        reader.readAsText(file, 'UTF-8');
        reader.onload = processCSV;
      }
    }

  });

  function processCSV(event) {

    toastr.success("Processing groups. Please wait...", "Success", {timeOut: 60000})

    csv = event.target.result.split("\n")
    csv.forEach(async function(line) {
      
      entries = line.split(',')

      if(entries.length >= 3 && entries[0] == 'Group') {
        
        group_id = parseInt(entries[1])
        entries.shift()
        entries.shift()

        for(item in entries) { 

          $.ajax({
            url: "/api/groups",
            method: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 
              username: entries[item],
              group_number: group_id
            }),
            statusCode: { 401: function() { logout() } }
          })
          .done(function(data, statusText, xhr) {
            getGroups()
          })

        }
      }

    })

  }

  function getGroups() {

    $.ajax({
      url: "/api/groups",
      method: "GET",
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {

      $("#tableBody").empty();

      for (var group in data) {
        for (var student in data[group]) {
          var html = `
           <tr>
            <td>${data[group][student].name}</td>
            <td>${data[group][student].email}</td>
            <td>${group}</td>
            <td><button id='${data[group][student].name}-${group.split('-')[1]}' type='button' class='btn btn-block btn-danger' onClick='return removeFromGroup("${data[group][student].name}", ${group.split('-')[1]});'>Remove</button></td>
           </tr>`;
          $("#tableBody").append(html);
        }
      }
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not retrieve student list.", "Error (" + xhr.status + ")")
    });
  }

  function addToGroup(sid, gid) {

    $("#buttonAdd").attr("disabled", true);

    $.ajax({
      url: "/api/groups",
      method: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 
        username: sid,
        group_number: gid
      }),
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully added student to Group" + gid + "! It may take a few moments for them to show up.", "Success")
      getGroups()
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not add student " + sid + " to Group " + gid + ".", "Error (" + xhr.status + ")")
    })
    .always(function() {
      $("#buttonAdd").removeAttr("disabled");
    })
  }

  function removeFromGroup(sid, gid) {

    $("#" + sid + '-' + gid).attr("disabled", true);

    $.ajax({
      url: "/api/groups",
      method: "DELETE",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({  
        username: sid,
        group_number: gid
      }),
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully removed student from group!", "Success")
      getGroups();
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not remove student " + sid + " from Group " + gid + ".", "Error (" + xhr.status + ")")
    })
    .always(function() {
      $("#" + sid + '-' + gid).removeAttr("disabled");
    })
  }

</script>
{% endblock %}