{% extends "_base.html" %}

{% set title = 'VM Images' %}
{% set page = 'images' %}

{% block externalcss %}
{% endblock %}

{% block customcss %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="callout callout-warning">
      <h4>Important Note</h4>
      <p class="mb-1">Once you share/unshare an image, it may take quite a few minutes for the change to be processed. Please wait and don't click the button again.</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-lock mr-2"></i>Private Images</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <tbody id="tableBodyPrivateImages">
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-lock-open mr-2"></i>Shared Images</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <tbody id="tableBodySharedImages">
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

</div>
<!-- /.row -->
{% endblock %}

{% block externaljs %}
{% endblock %}

{% block customjs %}
<script>

  $(function () {

    getImages()
    setTimeout(getImages, 10000)

  })

  function getImages(wait=0) {

    $.ajax({
      url: "/manage/api/images",
      method: "GET",
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {

      $("#tableBodyPrivateImages").empty();
      for (var image in data.private) {
        var html = `<tr><td>${data.private[image].name}</td><td><button type='button' id='${data.private[image].id}' class='btn btn-danger btn-sm float-right' onClick='return shareImage("${data.private[image].id}", true);'>Share</button></td></tr>`;
        $("#tableBodyPrivateImages").append(html);
      }
      $("#tableBodySharedImages").empty();
      for (var image in data.shared) {
        var html = `<tr><td>${data.shared[image].name}</td><td><button type='button' id='${data.shared[image].id}' class='btn btn-danger btn-sm float-right' onClick='return shareImage("${data.shared[image].id}", false);'>Unshare</button></td></tr>`;
        $("#tableBodySharedImages").append(html);
      }

    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not retrieve images.", "Error (" + xhr.status + ")")
    });
  }

  function shareImage(id, shared) {

    $("#" + id).attr("disabled", true);
    
    $.ajax({
      url: "/manage/api/images",
      method: "PATCH",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 
        image: id,
        shared: shared,
      }),
      cache: false
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully updated image setting! It may take a few minutes for this change to show up.", "Success")
      setTimeout(getImages, 15000)
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not update image setting.", "Error (" + xhr.status + ")")
      $("#" + id).removeAttr("disabled");
    });
  }

</script>
{% endblock %}