{% extends "_base.html" %}

{% set title = 'Manage Instructors' %}
{% set page = 'instructors' %}

{% block externalcss %}
{% endblock %}

{% block customcss %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table id="table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Reset Password</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody id="tableBody"></tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<div class="row">
  <div class="col-12">

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-user-plus mr-2"></i>Add Instructor</h3>
      </div>
      <div class="card-body">

        <div class="col-6">
          <div class="input-group mb-3">
            <input type="text" id="formEmail" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <span class="input-group-text">@ontariotechu.ca</span>
            </div>
          </div>
        </div>

        <div class="col-2">
          <button type="button" id="buttonAdd" class="btn btn-block btn-primary">Add</button>
        </div>

    </div>
  </div>
</div>
{% endblock %}

{% block externaljs %}
{% endblock %}

{% block customjs %}
<script>

  $(function () {

    getInstructors()

    $("#buttonAdd").click(function(){

      var email = $("#formEmail").val().match(/^[a-z0-9\-\.]{3,}$/g)[0]
      if(!email) {
        toastr.error("Invalid email address!", "Error")
      }
      else {
        $('#formEmail').val('')
        addInstructor(email, email + '@ontariotechu.ca')
      }

    });

  });

  function resetPassword(id) {

    $("#reset-" + id.replace(/\./g,'')).attr("disabled", true);

    $.ajax({
      url: "/api/users/" + id + "/reset",
      method: "GET",
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully reset instructor password!", "Success")
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not reset instructor password.", "Error (" + xhr.status + ")")
    })
    .always(function() {
      $("#reset-" + id.replace(/\./g,'')).removeAttr("disabled");
    })
  }

  function getInstructors() {

    $.ajax({
      url: "/api/instructors",
      method: "GET",
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      
      $("#tableBody").empty();

      for (var instructor in data) {
        var html = `
         <tr>
          <td>${instructor}</td><td>${data[instructor].email}</td>
          <td><button id='reset-${instructor.replace(/\./g,'')}' type='button' class='btn btn-block btn-warning' onClick='return resetPassword("${instructor}");'>Reset Password
          </button></td>
          <td><button id='remove-${instructor.replace(/\./g,'')}' type='button' class='btn btn-block btn-danger' onClick='return removeInstructor("${instructor}");'>Remove
          </button></td>
         </tr>`;
        $("#tableBody").append(html);
      }
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not retrieve instructor list.", "Error (" + xhr.status + ")")
    });
  }

  function addInstructor(id, email) {

    $("#buttonAdd").attr("disabled", true);

    $.ajax({
      url: "/api/instructors",
      method: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 
        username: id,
        email: email
      }),
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully added instructor to course!", "Success")
      getInstructors()
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not add instructor to course.", "Error (" + xhr.status + ")")
    })
    .always(function() {
      $("#buttonAdd").removeAttr("disabled");
    })
  }

  function removeInstructor(id) {

    $("#remove-" + id.replace(/\./g,'')).attr("disabled", true);

    $.ajax({
      url: "/api/instructors",
      method: "DELETE",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({  
        username: id
      }),
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully removed instructor from course!", "Success")
      getInstructors()
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not remove instructor " + id + " from course.", "Error (" + xhr.status + ")")
      $("#remove-" + id.replace(/\./g,'')).removeAttr("disabled");
    })
    .always(function() {
      $("#remove-" + id.replace(/\./g,'')).removeAttr("disabled");
    })
  }

</script>
{% endblock %}