{% extends "_base.html" %}

{% set title = 'VM Retention Settings' %}
{% set page = 'vms' %}

{% block externalcss %}
{% endblock %}

{% block customcss %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="callout callout-danger">
      <h5>Predeploy Functionality</h5>
      <p>If VMs are not deleted between lecture/lab periods, student VMs will be placed back in their account before the next period. This will continue to happen until this functionality is disabled.</p>
      <p><strong>Please only enable the settings below if you absolutely need to!</strong> Usually it is adequate to have students redeploy their VMs each lab - this saves significant resources.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="callout callout-warning">
      <h5>Group Functionality</h5>
      <p>Note that group VMs and snapshots will never be deleted, only retained.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-trash mr-2"></i>Retain Student VMs:</h3>
      </div>
      <div class="card-body">
        <input id="vms" type="checkbox" class="switcher" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-user mr-2"></i>Allow Student Snapshots:</h3>
      </div>
      <div class="card-body">
        <input id="snapshots" type="checkbox" class="switcher" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block externaljs %}
<!-- Bootstrap Switch -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js" integrity="sha512-J+763o/bd3r9iW+gFEqTaeyi+uAphmzkE/zU8FxY6iAvD3nQKXa+ZAWkBI9QS9QkYEKddQoiy0I5GDxKf/ORBA==" crossorigin="anonymous"></script>
{% endblock %}

{% block customjs %}
<script>

  $(function () {

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch({disabled: true});
    });

    $("#vms").on('switchChange.bootstrapSwitch', function(event, state) {
       updateSetting('vms', {'keep': state});
    });

    $("#snapshots").on('switchChange.bootstrapSwitch', function(event, state) {
       updateSetting('snapshots', {'snapshots': state});
    });

    getSettings();

  })

  function getSettings() {
      $.ajax({
        url: "/api/settings",
        method: "GET",
        statusCode: { 401: function() { logout() } }
      })
      .done(function(data, statusText, xhr) {
        $("#vms").bootstrapSwitch('disabled', false);
        $("#vms").bootstrapSwitch('state', data.keep, true)
        $("#snapshots").bootstrapSwitch('disabled', false);
        $("#snapshots").bootstrapSwitch('state', data.snapshots, true)
      })
      .fail(function(xhr, statusText) {
        toastr.error("Could not retrieve course settings.", "Error (" + xhr.status + ")")
      })
  }

  function updateSetting(id, data) {

    $("#" + id).bootstrapSwitch('disabled', true);

    $.ajax({
      url: "/api/settings",
      method: "PATCH",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(data),
      statusCode: { 401: function() { logout() } }
    })
    .done(function(data, statusText, xhr) {
      toastr.success("Successfully updated option!", "Success")
      getSettings()
    })
    .fail(function(xhr, statusText) {
      toastr.error("Could not update option.", "Error (" + xhr.status + ")")
    });
  }

</script>
{% endblock %}