<html>
<body>
Hello,<br/>
<br/>
A cloud account has been created for you on our private cloud or a password reset request was received. Your credentials are as follows:<br/>
<br/>
Cloud Web Panel:<br/>
----------------
URL:          {cloud_url}<br/>
Username:     {username}<br/>
Password:     {password}<br/>
<br/>
An email will follow shortly with your course's details if you've been added to a new course.<br/>
<br/>
Note: <strong>You cannot log into the cloud web portal until your account has been enabled by your instructor!</strong><br/>
</body>
</html>