Subject: Password Reset Request

Hello,

Someone (hopefully you!) has requested a password reset for your account. If this was you, please go to:

{course_manager_url}/manage/api/public/reset/{token}

If you did not initiate this request, please disregard this email.
