<html>
<body>
Hello,<br/>
<br/>
Someone (hopefully you!) requested a password reset for your account. If this was you, please <a href="{cloud_url}/api/public/reset/{token}">click here</a>.<br/>
<br/>
If you did not initiate this request, please disregard this email.
</body>
</html>
