Subject: Private Cloud Account Details

Hello,

A cloud account has been created for you on our private cloud or a password reset request was received. Your credentials are as follows:

Cloud Web Panel:
----------------
URL:          {cloud_url}
Username:     {username}
Password:     {password}

An email will follow shortly with your course's details if you've been added to a new course.


Note: You cannot log into the cloud web portal until your account has been enabled by your instructor!
